@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}


/*header section design */


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #83242d
  ;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}


header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #83242d;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

/* Banner section design */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./assets/img5.png) fixed; /* Set background image as fixed */
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure the banner is behind other sections */
}

.banner h2 {
  color: #efefe4;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.banner h2 span {
  color: #83242d
  ;
}



/* About section design */

.about {
  background: #fff; /* Set background to transparent */
  /* padding: 100px; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add position relative */
  z-index: 2; /* Set z-index to ensure it's above the banner */
}



.section_para
{
  color: #000000;
}

.about .content {
  position: relative;
  text-align: center;
  width: 100%;
}


.mxw800p {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: aqua;
}




.h3_para {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #000000;
}

P {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000000;
}

.about_para
{
  color: #000000
}


.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
}


/* Service section design */

.services {
  background: url(assets/cosmos.jpg);
  background-size: cover;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_para
{
  color: #ffffff;
}

.services .content {
  position: relative;
  text-align: center;
  width: 100%;
}


.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ffffff;
}

P {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000000;
}

.services_para
{
  color: #ffffff
}


.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
}

/* Contact section design */

.contact {
  background: url(assets/cosmos.jpg);
  background-size: cover;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_para
{
  color: #ffffff;
}

.contact .content {
  position: relative;
  text-align: center;
  width: 100%;
}


.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ffffff;
}

P {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000000;
}

.services_para
{
  color: #ffffff
}


.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
}

/* responsive design starts here  */

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
  }

  .toggle::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transition: 0.5s;

  }

  header,
  header.sticky {
    padding: 5px 50px;
    background: #fff;
  }

  header ul {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: 100wh;
    text-align: center;
    overflow: auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
  }

  header .logo,
  header ul li a {
    color: #000000;
  }

  .banner {
    background-position: center;
  }

  .banner h2 {
    font-size: 60px;
    padding: 0 50px;
  }
}