@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  background: url(./assets/img5.png) fixed; /* Set background image as fixed */
  background-size: contain;
  /* background-repeat: no-repeat; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 1000px;
}


/*header section design */


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #83242d;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header .logo:hover {
  transform: scale(1.2); /* Enlarge on hover */
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}


header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #83242d; /* Initial color */
  letter-spacing: 2px;
  font-weight: 600;
  border-bottom: 2px solid transparent; /* Transparent border initially */
  transition: border-bottom 0.3s ease, color 0.3s ease; /* Smooth transition for border and color */
}

header ul li a:hover {
  border-bottom: 2px solid #83242d; /* Solid border on hover */
  color: #000000; /* Change color to black on hover */
}

header.sticky .logo,
header.sticky ul li a {
  color: #83242d;
}

/* Banner section design */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure the banner is behind other sections */
}

.banner h2 {
  color: #000000;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  
}

.banner h2 span {
  color: #83242d;
}



/* About section design */

.about {
  background: transparent; /* Set background to transparent */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  align-items: center;
  position: relative; /* Add position relative */
  z-index: 2; /* Set z-index to ensure it's above the banner */
}


/* About box */
.about-box {
  background-color: #ccc; /* Background color */
  padding: 30px; /* Padding around the box */
  border-radius: 50px; /* Rounded corners */
}


.about .content {
  text-align: center;
}

.about .mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

.h3_about {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #83242d; /* Heading color */
}

.about_para {
  font-size: 18px;
  line-height: 1.6;
  color: #444; /* Text color */
  padding-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #83242d; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6d1d26; /* Darker color on hover */
}



/* Service section design */

.services {
  background: transparent;
  min-height: 100vh;
  padding: 180px 0;
}

/* Service box */
.service-box {
  background-color: #ccc; /* Background color */
  padding: 30px; /* Padding around the box */
  border-radius: 50px; /* Rounded corners */
}


.services .content {
  text-align: center;
}

.services .mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

.h3_services {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #83242d; /* Heading color */
}

.service-container {
  display: flex; /* Set container to flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.service-card {
  flex: 0 0 calc(50% - 20px); /* Set width of each card */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  text-align: left;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #83242d; /* Heading color */
}

.service-card p {
  font-size: 18px;
  color: #444; /* Text color */
}




/* Contact section design */

.contact {
  background: transparent;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}



.contact .content {
  position: relative;
  text-align: center;
  width: 100%;
}


.contact .mxw800p {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #ccc;
  padding: 20px;
}

.h3_contact {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #83242d;
}



.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contact-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding subtle shadow for depth */
}

.contact-box h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #83242d; /* Heading color */
}

.contact-box p {
  font-size: 18px;
  line-height: 1.6;
  color: #444; /* Text color */
}

/* Hover effect */
.contact-box:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




/* responsive design starts here  */

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle::before {
    content: '';
    position: absolute;
    top: 6px;
    width: 100%;
    height: 4px;
    background: #83242d;
    z-index: 1;
    box-shadow: 0 10px 0 #83242d;
    transition: 0.5s;
  }

  .toggle::after {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 4px;
    background: #83242d;
    z-index: 1;
    transition: 0.5s;

  }

  header,
  header.sticky {
    padding: 5px 50px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  header ul {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 0; /* Initially set height to 0 */
    overflow: hidden; /* Hide overflowing content */
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, visibility 0.3s ease, opacity 0.3s ease; /* Smooth transition for max-height, visibility, and opacity */
  }
  
  header.active ul {
    height: auto; /* Set height to auto to reveal the list */
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
    max-height: 500px; /* Set a maximum height to enable smooth transition */
  }


  header.active ul li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
  }

  header .logo,
  header ul li a {
    color: #83242d;
  }

  .banner {
    background-position: center;
  }

  .banner h2 {
    font-size: 60px;
    padding: 0 50px;
  }

  .about-box,
  .service-box,
  .contact .mxw800p {
    border-radius: 20px; /* Adjust border radius */
    padding: 20px; /* Adjust padding */
  }

  .h3_about,
  .h3_services,
  .h3_contact {
    font-size: 30px; /* Decrease heading font size */
  }

  .service-card,
  .contact-box {
    margin-bottom: 20px; /* Adjust margin */
    padding: 20px; /* Adjust padding */
  }

}

@media (max-width: 576px) {
  header {
    padding: 20px; /* Adjust header padding */
  }


  header ul {
    top: 59px; /* Adjust top position of the navigation */
  }

  .banner h2 {
    font-size: 30px; /* Decrease banner heading font size */
  }

  .about-box,
  .service-box,
  .contact .mxw800p {
    border-radius: 10px; /* Decrease border radius */
    padding: 15px; /* Adjust padding */
  }

  .h3_about,
  .h3_services,
  .h3_contact {
    font-size: 24px; /* Decrease heading font size */
  }

  .service-card,
  .contact-box {
    padding: 15px; /* Adjust padding */
  }
}